<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
      <div class="ckp-snippet-box ckp-highlight mdc-elevation--z4"><pre><%= raw rougify(jsonify(@checker), 'json') %></pre></div>
    </div>
  </div>
</div>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">
      <div class="mdc-typography--headline6 ckp-description-header"><%= t('pages.application.core.service_api_header') %></div>
      <span class="mdc-typography--body2"><%= t('pages.application.core.service_api_description') %></span>
    </div>
    <div class="mdc-layout-grid__cell">
      <div class="mdc-typography--headline6 ckp-description-header"><%= t('pages.application.core.service_privacy_header') %></div>
      <span class="mdc-typography--body2"><%= t('pages.application.core.service_privacy_description') %></span>
    </div>
    <div class="mdc-layout-grid__cell">
      <div class="mdc-typography--headline6 ckp-description-header"><%= t('pages.application.core.service_price_header') %></div>
      <span class="mdc-typography--body2"><%= t('pages.application.core.service_price_description') %></span>
    </div>
  </div>
</div>
