<div class="ckp-highlight w-full shadow-lg rounded-md p-4 bg-brand-surface relative">
  <button
    type="button"
    class="ckp-button-clipboard absolute top-3 right-3 px-3 py-1 rounded bg-brand-secondary text-brand-primary text-xs cursor-pointer hover:bg-brand-on-secondary focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary"
    title="<%= t("pages.application.core.button_copy") %>"
    data-clipboard-target="cip-data-json"
  >
    <span class="ckp-icon-clipboard"><i class="fa-regular fa-copy"></i></span>
  </button>
  <div id="cip-data-json" class="font-mono whitespace-pre-wrap"><%= raw rougify(jsonify(@checker), "json") %></div>
</div>
<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-4 w-full">
  <div class="shadow-lg rounded-md p-4 bg-brand-surface text-brand-on-surface">
    <p class="py-0.5">
      <div class="text-lg text-center"><%= t("pages.application.core.service_api_header") %></div>
      <div class="text-sm text-center"><%= t("pages.application.core.service_api_description") %></div>
    </p>
  </div>
  <div class="shadow-lg rounded-md p-4 bg-brand-surface text-brand-on-surface">
    <p class="py-0.5 text-center">
      <div class="text-lg text-center"><%= t("pages.application.core.service_privacy_header") %></div>
      <div class="text-sm text-center"><%= t("pages.application.core.service_privacy_description") %></div>
    </p>
  </div>
  <div class="shadow-lg rounded-md p-4 bg-brand-surface text-brand-on-surface">
    <p class="py-0.5 text-center">
      <div class="text-lg text-center"><%= t("pages.application.core.service_price_header") %></div>
      <div class="text-sm text-center"><%= t("pages.application.core.service_price_description") %></div>
    </p>
  </div>
</div>
