<div class="mdc-typography">
  <aside class="mdc-drawer mdc-drawer--modal ckp-drawer">
    <div class="mdc-drawer__content">
      <nav class="mdc-deprecated-list">
        <%= link_to root_path, class: "mdc-deprecated-list-item #{'mdc-deprecated-list-item--activated' if current_page?(root_path)}", tabindex: ('0' if current_page?(root_path)) do %>
          <span class="mdc-deprecated-list-item__ripple"></span>
          <i class="fas fa-home fa-fw mdc-deprecated-list-item__graphic" aria-hidden="true"></i>
          <span class="mdc-deprecated-list-item__text"><%= t('pages.application.core.brand') %></span>
        <% end %>
        <%= link_to api_path, class: "mdc-deprecated-list-item #{'mdc-deprecated-list-item--activated' if current_page?(api_path)}", tabindex: ('0' if current_page?(api_path)) do %>
          <span class="mdc-deprecated-list-item__ripple"></span>
          <i class="fas fa-code fa-fw mdc-deprecated-list-item__graphic" aria-hidden="true"></i>
          <span class="mdc-deprecated-list-item__text"><%= t('pages.application.core.menu_api') %></span>
        <% end %>
        <a class="mdc-deprecated-list-item" href="#">
          <span class="mdc-deprecated-list-item__ripple"></span>
          <i class="fas fa-user-shield fa-fw mdc-deprecated-list-item__graphic" aria-hidden="true"></i>
          <span class="mdc-deprecated-list-item__text"><%= t('pages.application.core.menu_terms') %></span>
        </a>
        <%= link_to 'https://github.com/checkip/checkip', class: "mdc-deprecated-list-item" do %>
          <span class="mdc-deprecated-list-item__ripple"></span>
          <i class="fab fa-github fa-fw mdc-deprecated-list-item__graphic" aria-hidden="true"></i>
          <span class="mdc-deprecated-list-item__text"><%= t('pages.application.core.menu_github') %></span>
        <% end %>
        <%= link_to t('pages.application.core.menu_status_source'), class: "mdc-deprecated-list-item" do %>
          <span class="mdc-deprecated-list-item__ripple"></span>
          <i class="fas fa-signal fa-fw mdc-deprecated-list-item__graphic" aria-hidden="true"></i>
          <span class="mdc-deprecated-list-item__text"><%= t('pages.application.core.menu_status') %></span>
        <% end %>
      </nav>
    </div>
  </aside>
  <div class="mdc-drawer-scrim"></div>
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed ckp-header-fixed">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
        <div class="mdc-touch-target-wrapper">
          <button class="mdc-top-app-bar__navigation-icon mdc-icon-button mdc-icon-button--touch">
            <div class="mdc-icon-button__ripple"></div>
            <i class="fas fa-bars fa-sm fa-fw ckp-icon-button"></i>
            <div class="mdc-icon-button__touch"></div>
          </button>
        </div>
        <span class="mdc-top-app-bar__title ckp-top-bar-title"><%= link_to t('pages.application.core.brand'), root_path %></span>
      </section>
    </div>
  </header>
  <main class="ckp-layout-fixed">
    <%= yield %>
    <div class="ckp-powered-by">
      <div class="mdc-typography--body2"><%= t('pages.application.core.made_with_html', heart: tag.span(tag.i(class: 'fas fa-heart'), class: 'ckp-heart-icon'), appname: app_name_footer) %></div>
      <div class="mdc-typography--body2"><%= t('pages.application.core.ip_geolocation_by_html', db_source_url: link_to(t('pages.application.core.ip_geolocation_brand'), t('pages.application.core.ip_geolocation_source'))) %></div>
    </div>
  </main>
</div>
