<header>
  <nav class="mx-auto flex max-w-4xl items-center justify-between p-4 lg:px-8">
    <div class="flex lg:flex-1">
      <%= link_to root_path, class: "-m-1.5 p-1.5 flex items-center focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary" do %>
        <img class="h-8 w-auto" src="/favicon-32x32.png" alt="">
        <span class="ml-3 text-lg font-mono text-brand-secondary"><%= t("pages.application.core.brand") %></span>
      <% end %>
    </div>
    <div class="flex gap-x-8">
      <%= link_to api_path, class: "text-sm/6 font-semibold text-brand-secondary hover:text-brand-on-secondary focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary" do %>
        <%= t("pages.application.core.menu_api") %>
      <% end %>
      <%= link_to t("pages.application.core.app_source"), class: "text-sm/6 font-semibold text-brand-secondary hover:text-brand-on-secondary focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary" do %>
        <%= t("pages.application.core.menu_github") %>
      <% end %>
    </div>
  </nav>
</header>
<main class="mx-auto max-w-4xl p-2 lg:px-8">
  <%= yield %>
</main>
<footer class="text-center text-sm p-2">
  <p class="py-0.5">
    <%= t(
      "pages.application.core.made_with_html",
      heart: tag.span(tag.i(class: "fa-solid fa-heart"), class: "text-red-400"),
      app_source_url: link_to(
        app_name_footer,
        t("pages.application.core.app_source"),
        class: "text-brand-secondary hover:text-brand-on-secondary focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary"
      )
    ) %>
  </p>
  <p class="py-0.5">
    <%= t(
      'pages.application.core.ip_geolocation_by_html',
      db_source_url: link_to(
        t('pages.application.core.ip_geolocation_brand'),
        t('pages.application.core.ip_geolocation_source'),
        class: "text-brand-secondary hover:text-brand-on-secondary focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary"
      )
    ) %>
  </p>
  <p class="py-0.5">
    <%= link_to(
      t("pages.application.core.legal_terms"),
      "#",
      class: "text-brand-secondary hover:text-brand-on-secondary focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary"
    ) %>
    <span class="px-0.5 text-brand-secondary">|</span>
    <%= link_to(
      t("pages.application.core.legal_privacy"),
      "#",
      class: "text-brand-secondary hover:text-brand-on-secondary focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary"
    ) %>
    <span class="px-0.5 text-brand-secondary">|</span>
    <%= link_to(
      t("pages.application.core.system_status"),
      t("pages.application.core.system_status_source"),
      class: "text-brand-secondary hover:text-brand-on-secondary focus:outline-2 focus:outline-offset-2 focus:outline-brand-secondary",
      rel: "nofollow"
    ) %>
  </p>
</footer>
