<!DOCTYPE html>
<html>
  <head>
    <%= title brand: t("pages.application.core.brand") %>
    <%= meta_description if (yield :meta_description).present? %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="<%= request.base_url + request.path %>">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v1=1642755600">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v1=1642755600">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v1=1642755600">
    <link rel="manifest" href="/site.webmanifest?v1=1642755600">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v1=1642755600" color="#2e3440">
    <link rel="shortcut icon" href="/favicon.ico?v1=1642755600">
    <meta name="msapplication-TileColor" content="#2e3440">
    <meta name="theme-color" content="#2e3440">
  </head>
  <body class="bg-brand-primary text-brand-on-primary">
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
